<%- include('../parts/html-header')  %> 
<%- include('../parts/navbar') %> 

<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <form name="form1" onsubmit="checkForm(); return false;">
              <div class="mb-3">
                <label for="name" class="form-label">name</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= name %>">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input type="text" class="form-control" id="email" name="email" value="<%= email %>">
              </div>
              <div class="mb-3">
                <label for="mobile" class="form-label">mobile</label>
                <input type="text" class="form-control" id="mobile" name="mobile" value="<%= mobile %>">
              </div>
              <div class="mb-3">
                <label for="birthday" class="form-label">birthday</label>
                <input type="date" class="form-control" id="birthday" name="birthday" value="<%= toDateString(birthday) %>">
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">address</label>
                <input type="text" class="form-control" id="address" name="address" value="<%= address %>">
              </div>
                
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

      </div>
    </div>
</div>

<%- include('../parts/script') %> 
 <script>
   function checkForm() {
      const fd = new FormData(document.form1);
      //資料檢查
      const usp = new URLSearchParams(fd);
      console.log([...usp])

      const dataObj = {};
      for(let i of fd){
        dataObj[i[0]] = i[1];
      }

     
      
      //TODO 資料上傳
      // fetch('/address-book/add2', {
      //   method: 'POST',
      //   body: fd
      // })
      // .then(r => r.json())
      // .then(obj=>{
      //   console.log(obj)
      // });
      fetch('', {
        method: 'POST',
        body: JSON.stringify(dataObj),
        headers:{ 
          'Content-Type': 'application/json',
        }
      })
      .then(r => r.json())
      .then(obj=>{
        if(obj.success){
          location.href= "/address-book/list";
          alert('更新成功');
        }
        console.log(obj)
      });
    };
  

 </script>

<%- include('../parts/html-footer') %> 